<div>

  <a routerLink="/" 
     routerLinkActive="success"
     [routerLinkActiveOptions]="{exact:true}"
     class="button" > Home </a>

  <a routerLink="/products"  
    routerLinkActive="success"
    [routerLinkActiveOptions]="{exact:true}"
     class="button"> Products </a>

  
     <a routerLink="/cart" 
        routerLinkActive="success"
        [routerLinkActiveOptions]="{exact:true}"
     class="button" > Cart [  {{cartCount}}  ] </a>
      
      <button >

        Total {{amount | currency:"INR":true}}

      </button>

 
  <a [routerLink]="['/contact', 'pune', {time:10,endTime: 5}]"
    routerLinkActive="success"
    [routerLinkActiveOptions]="{exact:true}"
     class="button"> Contact </a>
  
  <a routerLink="/about" 
  routerLinkActive="success"
  [routerLinkActiveOptions]="{exact:true}"
     class="button"> About </a>




  <button (click)="emptyCart()">
    Empty
  </button>

</div>